# Q.1 Naurki.com Selenium

In [12]:
#importing all required liabraries 

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [13]:
#opening chrome web-browser

driver= webdriver.Chrome()

In [14]:
#Opening the website to scrape data

driver.get("https://www.naukri.com/")

In [15]:
# Sending our input to the website

designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [16]:
# Sending location input to website

location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/ NCR')

In [17]:
# Clicking on the search button

search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
# Clicking on the salary filter

salary_filter = driver.find_element(By.XPATH, "/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[3]/div[2]/div[2]/label/i")
salary_filter.click()

In [37]:
#Extracting Job titles from the website

job_titles = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
job_titles1 =[]

for i in job_titles[:10]:
    titles= i.text
    job_titles1.append(titles)
    
job_titles1

['Data Scientist HTHD',
 'Data Scientist',
 'Global GI Data Scientist',
 'Global GI Data Scientist',
 'Data Scientist',
 'Python Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist']

In [43]:
# Extracting Job Location 

job_location = driver.find_elements(By.XPATH, '//span[@class="locWdth"]')
job_locations=[]

for i in job_location [:10]:
    locations = i.text
    job_locations.append(locations)
    
job_locations

['Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Gurugram, Bengaluru',
 'Faridabad',
 'Faridabad',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru']

In [50]:
#Extracting company Names

company_name= driver.find_elements(By.XPATH, '//div[@class=" row2"]/span/a[1]')
company_names=[]

for i in company_name [:10]:
    names = i.text
    company_names.append(names)
    
company_names

['Ford',
 'Blackbuck',
 'Hitachi Ltd.',
 'Hitachi Energy',
 'Digital Glyde',
 'Wizaltia Hr Solutions',
 'Kmart',
 'KAS Services',
 'Scienaptic Systems',
 'Elitefit.ai']

In [52]:
# Extracting experience tags

experience_tags = driver.find_elements(By.XPATH, '//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]/span')
experience_tag = []

for i in experience_tags [:10]:
    tag = i.text
    experience_tag.append(tag)
    
experience_tag

['1-4 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '3-5 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '3-5 Yrs',
 '2-7 Yrs',
 '3-7 Yrs']

In [46]:
# Getting apply link using get attribute href

job_link = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
job_links =[]

for i in job_link [:10]:
    link = i.get_attribute('href')
    job_links.append(link)

link

'https://www.shine.com/jobs/data-analyst-senior-data-analyst-data-analyst-tech-lead-permanent/appsoft-solutions/11720912/'

In [77]:
#Creating the dataframe using pandas

df = pd.DataFrame ({'Title':job_titles1, 'Location':job_locations, 'Company Name':company_names,'Experience':experience_tag , 'Apply Link': link}) 
df.index+=1
df

,Title,Location,Company Name,Experience,Apply Link
1,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,1-4 Yrs,https://www.naukri.com/job-listings-lead-data-...
2,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs,https://www.naukri.com/job-listings-lead-data-...
3,Global GI Data Scientist,Faridabad,Hitachi Ltd.,3-5 Yrs,https://www.naukri.com/job-listings-lead-data-...
4,Global GI Data Scientist,Faridabad,Hitachi Energy,3-5 Yrs,https://www.naukri.com/job-listings-lead-data-...
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Digital Glyde,3-7 Yrs,https://www.naukri.com/job-listings-lead-data-...
6,Python Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Wizaltia Hr Solutions,2-7 Yrs,https://www.naukri.com/job-listings-lead-data-...
7,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kmart,3-5 Yrs,https://www.naukri.com/job-listings-lead-data-...
8,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",KAS Services,3-5 Yrs,https://www.naukri.com/job-listings-lead-data-...
9,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems,2-7 Yrs,https://www.naukri.com/job-listings-lead-data-...
10,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Elitefit.ai,3-7 Yrs,https://www.naukri.com/job-listings-lead-data-...

# Q.2 Shine.com Selenium

In [1]:
#importing all required liabraries 

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
#opening Chrome browser and Website

driver= webdriver.Chrome()
driver.get("https://www.shine.com/")

In [4]:
#Sending input to website

designation = driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Analyst')

In [5]:
#Sending the location input

location_box = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location_box.send_keys('Bangalore')

In [7]:
#clicking on the location box

experience = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[3]/div/ul/li[1]')
experience.click()

In [8]:
#Cliking on the search button

search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [9]:
# Extracting the titles of the job

job_title2 = driver.find_elements(By.CLASS_NAME,"jobCard_pReplaceH2__xWmHg")
job_titles2 = []

#using loop to iterate over all the names
for i in job_title2[:10]:
    title = i.text
    job_titles2.append(title)

    #printing output
job_titles2

['Data Analyst , Senior Data Analyst , Data Analyst - Tec ...',
 'Clinical Data Analyst',
 'Data Analyst Fresher and Experience Vacancy',
 'Data Analyst Opening',
 'Data Analyst Recruitment',
 'Data Analyst Recruitment',
 'Hiring For Data Scientist',
 'Business Analyst Opening',
 'Junior Clinical Data Management',
 'Clinical Data Specialist']

In [21]:
#Extracting experience from website

exp_req=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')

experience_required = []
for i in exp_req[:10]:
    names= i.text
    experience_required.append(names)
    
experience_required

['0 to 4 Yrs',
 '0 to 1 Yr',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 1 Yr',
 '0 to 2 Yrs']

In [25]:
#finding name using XPATH 

name = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span')
names =[]

for i in name[:10]:
    name1 = i.text
    names.append(name1)
names

['appsoft solutions',
 'techno endura',
 'radhika enterprises',
 'radhika enterprises',
 'radhika enterprises',
 'radhika enterprises',
 'neelima staffing solution',
 'divya staffing solution',
 'techno endura',
 'techno endura']

In [27]:
#Extracting location

location = driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
locations =[]

for i in location[:10]:
    location1 = i.text
    locations.append(location1)
    
locations

['Bangalore\n+8',
 'Bangalore\n+6',
 'Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore\n+15',
 'Bangalore\n+13',
 'Bangalore\n+6',
 'Bangalore\n+8']

In [35]:
df= pd.DataFrame ({'Title': job_titles2, 'Comapny Name': names, 'Exp Req.':experience_required, 'Location': locations})
df.index+=1
df

,Title,Comapny Name,Exp Req.,Location
1,"Data Analyst , Senior Data Analyst , Data Anal...",appsoft solutions,0 to 4 Yrs,Bangalore\n+8
2,Clinical Data Analyst,techno endura,0 to 1 Yr,Bangalore\n+6
3,Data Analyst Fresher and Experience Vacancy,radhika enterprises,0 to 4 Yrs,Bangalore\n+12
4,Data Analyst Opening,radhika enterprises,0 to 4 Yrs,Bangalore\n+12
5,Data Analyst Recruitment,radhika enterprises,0 to 4 Yrs,Bangalore\n+12
6,Data Analyst Recruitment,radhika enterprises,0 to 4 Yrs,Bangalore\n+12
7,Hiring For Data Scientist,neelima staffing solution,0 to 4 Yrs,Bangalore\n+15
8,Business Analyst Opening,divya staffing solution,0 to 4 Yrs,Bangalore\n+13
9,Junior Clinical Data Management,techno endura,0 to 1 Yr,Bangalore\n+6
10,Clinical Data Specialist,techno endura,0 to 2 Yrs,Bangalore\n+8

# Q3 Flipkart Selenium

In [124]:
#importing all required liabraries 

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [125]:
#Opening chrome and opening website

driver= webdriver.Chrome()
driver.get('https://flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&page=1')

In [81]:
#creating empty list
links =[]

start=0
end=10

#creating loop to change page
for page in range(start,end):
    titles = driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    
    #using for loop to extract name and appending into list
    for i in titles:
            links.append(i.text +  " STAR")
    next_button =driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(5)

In [76]:
#creating empty list
review_s =[]

start =0
end =10
#creating loop to change pages automatically
for page in range(start,end):
    review = driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    
    for i in review:
        review_s.append(i.text)
    next_button =driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(5)

In [79]:
#creating empty list
review1 =[]
start = 0
end = 10

#creating loop to change the page automatically
for page in range(start, end):
    reviewf= driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
    
    for i in reviewf:
        review1.append(i.text)
    next_button =driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(5)

In [87]:
#creatingh dataframe to show the extracted data 
df = pd.DataFrame({'Ratings': links, 'Review Summary':review_s, 'Reviews ':review1})
df=df.rename_axis('Iphone 11 DATA')
df.index+=1

#printing dataframe
df

,Ratings,Review Summary,Reviews
Iphone 11 DATA,,,
1,5 STAR,Highly recommended,Camera is awesome\nBest battery backup\nA perf...
2,5 STAR,Value-for-money,Very very good
3,5 STAR,Wonderful,This is amazing at all
4,5 STAR,Brilliant,Feeling awesome after getting the delivery of ...
5,5 STAR,Wonderful,Good Camera
...,...,...,...
96,5 STAR,Terrific purchase,iPhone 11 is a good phone. Not a very big diff...
97,5 STAR,Perfect product!,Good product 👌I love iPhone
98,5 STAR,Perfect product!,Excellent Phone.
99,5 STAR,Just wow!,"Go for iPhone 11 , if confused between iPhone ..."
100,5 STAR,Excellent,Superbb performance n camera is awesome 😍😍

# Q.4 100 Sneakers

In [126]:
#importing all required liabraries 

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [127]:
#Opening Chrome & Opening Website On That Browser

driver= webdriver.Chrome()
driver.get('https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off')

In [130]:
#creating empty list
brand =[]

start=0
end=3

#creating loop to start and end the page and change the page
for page in range(start,end):
    sneakers = driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    
    for i in sneakers:
        brand.append(i.text)
        if len(brand) >= 100:
            break
    
    #clicking on next button
    next_button= driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [131]:
#checking the length of brand
len(brand)

100

In [132]:
#creating empty list
ProductD =[]
start=0
end=3

#creating loop to set range
for page in range(start,end):
    Description = driver.find_elements(By.XPATH,'//div[@class="hCKiGj"]/a[1]')
    
    for i in Description:
        ProductD.append(i.text)
        if len(ProductD) >=100:
            break
            
    next_button= driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [133]:
# checking the length of extracted data
len(ProductD)

100

In [134]:
#creating empty list
mrp = []
start=0
end=3

for page in range(start,end):
    Sale= driver.find_elements(By.XPATH,'//div[@class="yRaY8j"]')
    
    for i in Sale:
        Rate= i.text
        mrp.append(Rate)
        
        #setting the limit of 100 data
        if len(mrp) >=100:
            break
            
    next_button= driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [135]:
#checking the length
len(mrp)

100

In [136]:
#creating empty list

price =[]
start=0
end=3

for page in range(start,end):
    rate= driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    
    for i in rate:
        price.append(i.text)
        if len(price)>= 100:
            break
            
    #Clicking the button to change the page        
    next_button= driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [137]:
#checking the length
len(price)

100

In [138]:
#dataframe for showing the data

df = pd.DataFrame({'Brand':brand,'Product Description':ProductD  ,'MRP':mrp , 'Price': price})
df.index+=1
df

,Brand,Product Description,MRP,Price
1,VECHLO,KLJL39661 Lightweight Comfort Summer Trendy Pr...,"₹3,999","₹1,000"
2,BRUTON,HOPPER Flat Sole White Sneakers Shoes All Day ...,₹999,₹293
3,URBANBOX,Sneakers For Men,"₹7,499","₹3,199"
4,RED TAPE,Sneakers For Men,"₹3,699","₹1,099"
5,RED TAPE,Sneakers For Men,"₹1,099",₹399
...,...,...,...,...
96,PUMA,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹5,599","₹1,119"
97,Skechers,Turin 3 Sneakers For Men,"₹4,799","₹2,159"
98,Combit,"( by GO21 ) Soft Insole, Slip-Resistance|Walki...","₹3,599",₹995
99,New Balance,Puma Kinta Wns Sneakers For Women,"₹4,499","₹2,209"
100,PUMA,PEGASUS Men's Fashion Sneakers Lace-Up Trainer...,"₹3,499","₹1,499"

# Q.5 Amazon Laptop Selenium

In [139]:
#importing all required liabraries 

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [142]:
#opening browser and website

driver= webdriver.Chrome()
driver.get('https://www.amazon.in/')

In [144]:
#giving input in the box

Search = driver.find_element(By.XPATH,'//*[@id="twotabsearchtextbox"]')
Search.send_keys('Laptop')

In [145]:
#clicking on the box

click = driver.find_element(By.XPATH,'//*[@id="nav-search-submit-button"]')
click.click()

In [146]:
#selecting the filter box

intel = driver.find_element(By.XPATH,'//*[@id="p_n_feature_twenty-three_browse-bin/27387168031"]/span/a/div')
intel.click()

In [147]:
#clicking on the element box
core = driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div')
core.click()

In [149]:
#extracting data 
name=[]

namel = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')

for i in namel[:10]:
    name.append(i.text)
    
len(name)

10

In [175]:
import re
rating= []

ratings = driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')

for i in ratings[:10]:
    rating_text = i.get_attribute('innerText')
    
    #Using Regular Expression to clean data
    numeric_part = re.search(r'\d+(\.\d+)?', rating_text).group()
    rating.append(numeric_part)
    
    
rating

['4.4', '4.1', '3.8', '4.0', '4.1', '3.5', '4.4', '3.7', '4.2', '3.4']

In [162]:
#ceating empty list to store elements
price = []

price1= driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

for i in price1[:10]:
    price.append(i.text)
    
#length of the list
len(price)

10

In [176]:
#Using data Frame to showcase the data

df= pd.DataFrame({'Title':name, 'Ratings':rating,'Price':price})
df.index+=1
df

                                                Title Ratings   Price
1   Dell Inspiron 7420 2in1 Laptop, Intel Core i7-...     4.4  77,990
2   Acer Aspire Lite 12th Gen Intel Core i7-1255U ...     4.1  54,990
3   MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...     3.8  49,990
4   Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...     4.0  58,250
5   HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...     4.1  63,990
6   ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...     3.5  72,990
7   ASUS Vivobook 15, IntelCore i7-12650H 12th Gen...     4.4  64,990
8   HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...     3.7  78,700
9   Acer Travelmate Business Laptop Intel Core i7-...     4.2  47,990
10  HP Victus Gaming Laptop, 12th Gen Intel Core i...     3.4  77,490

# Q.6 TOP 1000 Qoutes

In [178]:
#Opening broser to ectract the data

driver= webdriver.Chrome()
driver.get('https://www.azquotes.com/top_quotes.html')

In [185]:
# creating list

titles =[]
start=0
end=10

for page in range(start,end):
    title = driver.find_elements(By.XPATH,'//a[@class="title"]')
   
    #sub for loop 
    for i in title:
        titles.append(i.text)
        if len(titles)== 1000:
            break
            
    
    #clicking Next Page
    next_button =driver.find_element(By.XPATH,'//*[@id="content"]/div/div[1]/div/div[4]/li[12]')
    next_button.click()
    time.sleep(5)
    
len(titles)

1000

In [186]:
#creating empty list

author =[]
start=0
end=10
#setting the range for page
for page in range(start,end):
    # setting the path
    author1= driver.find_elements(By.XPATH,'//div[@class="author"]')
    
    for i in author1:
        author.append(i.text)
        if len(author)==1000:
            break
            
    next_button =driver.find_element(By.XPATH,'//*[@id="content"]/div/div[1]/div/div[4]/li[12]')
    next_button.click()
    time.sleep(5)
    
len(author)

1000

In [187]:
#creating empty list

type =[]
start =0
end=10
for page in range(start,end):
    type1 = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    
    for i in type1:
        type.append(i.text)
        if len(type)== 1000:
            break
    #next button to change page       
    next_button =driver.find_element(By.XPATH,'//*[@id="content"]/div/div[1]/div/div[4]/li[12]')
    next_button.click()
    time.sleep(5)
    
len(type)

1000

In [188]:
df= pd.DataFrame({'Qoute':titles, 'Author':author, 'Type Of Qoute':type})
df.index+=1
df

,Qoute,Author,Type Of Qoute
1,Courage is the price that life exacts for gran...,Amelia Earhart,"Inspirational, Life, Success"
2,The worst evils which mankind has ever had to ...,Ludwig von Mises,"Peace, War, Government"
3,The moment we begin to fear the opinions of ot...,Elizabeth Cady Stanton,"Life, Strength, Courage"
4,"Trust yourself, you know more than you think y...",Benjamin Spock,"Positive, Family, Trust"
5,"Some people want it to happen, some wish it wo...",Michael Jordan,"Inspirational, Life, Motivational"
...,...,...,...
996,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
997,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
998,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
999,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
1000,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Q. 7 Prime Mministers Of INDIA

In [1]:
#importing all required liabraries 

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome()
driver.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

In [74]:
# Find the table containing the Prime Ministers
table = driver.find_element(By.XPATH, '//*[@class="TableData"]//table')

# Get all rows in the table
rows = table.find_elements(By.TAG_NAME, 'tr')

# Extract the names from each row
names = []
for row in rows[1:]:  # Skip the header row
    cells = row.find_elements(By.TAG_NAME, 'td')
    if cells:
        name = cells[1].text.strip()  # Assuming the name is in the second column
        names.append(name)

# Print all extracted names
# for name in names:
    print(name)

Jawahar Lal Nehru
Gulzarilal Nanda (Acting)
Lal Bahadur Shastri
Gulzari Lal Nanda  (Acting)
Indira Gandhi
Morarji Desai
Charan Singh
Indira Gandhi
Rajiv Gandhi
V. P. Singh
Chandra Shekhar
P. V. Narasimha Rao
Atal Bihari Vajpayee
H. D. Deve Gowda
Inder Kumar Gujral
Atal Bihari Vajpayee
Manmohan Singh
Narendra Modi
Narendra Modi

In [57]:
time = driver.find_elements(By.XPATH,'//div[@class="TableData"]//table/tbody/tr/td[3]')
times =[]

for i in time:
    times.append(i.text)
    
times

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)',
 '(born 1950)']

In [49]:
#extracting the data
term_elements = driver.find_elements(By.XPATH, '//div[@class="TableData"]//table/tbody/tr/td[4]')


terms_of_office = []
for i in term_elements:
   
    term_text = " ".join(i.text.split())
    terms_of_office.append(term_text)
    
len(terms_of_office)

19

In [51]:
remark = driver.find_elements(By.XPATH,'//div[@class="TableData"]//table/tbody/tr/td[5]')

remarks = []

for i in remark:
    remarks.append(i.text)
# checking length   
len(remarks)

19

In [79]:
df= pd.DataFrame ({'Name':names, 'Born - Death':times, 'Term Of office':times, 'Remarks':remarks})
df.index+=1
df

,Name,Born - Death,Term Of office,Remarks
1,Jawahar Lal Nehru,(1889–1964),(1889–1964),The first prime minister of India and the long...
2,Gulzarilal Nanda (Acting),(1898-1998),(1898-1998),First acting PM of India
3,Lal Bahadur Shastri,(1904–1966),(1904–1966),He has given the slogan of 'Jai Jawan Jai Kisa...
4,Gulzari Lal Nanda (Acting),(1898-1998),(1898-1998),-
5,Indira Gandhi,(1917–1984),(1917–1984),First female Prime Minister of India
6,Morarji Desai,(1896–1995),(1896–1995),Oldest to become PM (81 years old) and first t...
7,Charan Singh,(1902–1987),(1902–1987),Only PM who did not face the Parliament
8,Indira Gandhi,(1917–1984),(1917–1984),The first lady who served as PM for the second...
9,Rajiv Gandhi,(1944–1991),(1944–1991),Youngest to become PM (40 years old)
10,V. P. Singh,(1931–2008),(1931–2008),First PM to step down after a vote of no confi...
11,Chandra Shekhar,(1927–2007),(1927–2007),He belongs to Samajwadi Janata Party
12,P. V. Narasimha Rao,(1921–2004),(1921–2004),First PM from South India
13,Atal Bihari Vajpayee,(1924- 2018),(1924- 2018),PM for shortest tenure
14,H. D. Deve Gowda,(born 1933),(born 1933),He belongs to Janata Dal
15,Inder Kumar Gujral,(1919–2012),(1919–2012),------
16,Atal Bihari Vajpayee,(1924-2018),(1924-2018),The first non-congress PM who completed a ful...
17,Manmohan Singh,(born 1932),(born 1932),First Sikh PM
18,Narendra Modi,(born 1950),(born 1950),4th Prime Minister of India who served two con...
19,Narendra Modi,(born 1950),(born 1950),First non-congress PM with two consecutive ten...

# Q.8 50 Most Expensive Cars

In [ ]:
#importing all required liabraries 

import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [80]:
#Opening Chrome And Website to Scrape Data

driver= webdriver.Chrome()
driver.get('https://www.motor1.com/')

In [86]:
#giving input 

search = driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input')
search.send_keys('50 most expensive cars')

In [88]:
#clicking on search button

click = driver.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
click.click()

In [89]:
click1 = driver.find_element(By.XPATH,'/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3')
click1.click()

In [104]:
#extracting the car names

car_name = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
car_names = []

for i in car_name[:50]:
    car_names.append(i.text)
len(car_names)

50

In [103]:
#extracting the prices

price = driver.find_elements(By.XPATH,'//p/strong')
prices =[]

for i in price:
    text1= i.text.replace("Price: ", "").strip()
    prices.append(text1)

len(prices)

50

In [105]:
df= pd.DataFrame({'Car Name':car_names, 'Price': prices})
df.index+=1
df

                              Car Name                 Price
1                  Aston Martin Valour          $1.5 Million
2                         McLaren Elva          $1.7 Million
3                          Czinger 21C          $1.7 Million
4                        Ferrari Monza          $1.7 Million
5                   Gordon Murray T.33          $1.7 Million
6                    Koenigsegg Gemera          $1.7 Million
7                          Zenvo TSR-S          $1.7 Million
8                   Hennessey Venom F5          $1.8 Million
9                      Bentley Bacalar          $1.9 Million
10       Hispano Suiza Carmen Boulogne          $1.9 Million
11              Bentley Mulliner Batur          $2.0 Million
12                        Deus Vayanne          $2.0 Million
13                         SSC Tuatara          $2.0 Million
14                         Lotus Evija          $2.1 Million
15                 Aston Martin Vulcan          $2.3 Million
16                          Delage D12          $2.3 Million
17                 Ferrari Daytona SP3          $2.3 Million
18                   McLaren Speedtail          $2.3 Million
19                        Rimac Nevera          $2.4 Million
20                       Pagani Utopia          $2.5 Million
21                Pininfarina Battista          $2.5 Million
22                  Gordon Murray T.50          $2.6 Million
23                Lamborghini Countach          $2.6 Million
24            Mercedes-AMG Project One          $2.7 Million
25                        Zenvo Aurora          $2.8 Million
26                 Aston Martin Victor          $3.0 Million
27         Hennessey Venom F5 Roadster          $3.0 Million
28                    Koenigsegg Jesko          $3.0 Million
29               Aston Martin Valkyrie          $3.2 Million
30           W Motors Lykan Hypersport          $3.4 Million
31                       McLaren Solus          $3.5 Million
32                    Lamborghini Sian          $3.6 million
33                    Koenigsegg CC850          $3.7 Million
34     Bugatti Chiron Super Sport 300+          $3.9 Million
35                  Lamborghini Veneno          $4.5 Million
36                      Bugatti Bolide          $4.7 Million
37           Pininfarina B95 Speedster          $4.8 Million
38                     Bugatti Mistral          $5.0 Million
39                 Pagani Huayra Imola          $5.4 Million
40                        Bugatti Divo          $5.8 Million
41                 SP Automotive Chaos          $6.4 Million
42                    Pagani Codalunga          $7.4 Million
43                        777 Hypercar          $7.5 Million
44            Mercedes-Maybach Exelero          $8.0 Million
45                  Bugatti Centodieci          $9.0 Million
46             Bugatti Chiron Profilée         $10.8 Million
47                Rolls-Royce Sweptail         $12.8 Million
48            Bugatti La Voiture Noire         $13.4 Million
49              Rolls-Royce Boat Tail*  $28.0 Million (est.)
50  Rolls-Royce La Rose Noire Droptail    $30 Million (est.)